* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: sans-serif;
    font-size: 16px;
    line-height: 1.5;
}

.container {
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 30px;
}

ul {
    list-style-type: none;
}

a:link {
    text-decoration: none;
  }

.navbar {
    background: #1F2937;
    color: #E5E7EB;
    height: 60px;
}

.navbar a {
    color:#E5E7EB;
    font-size: 18px;
}
.navbar .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.navbar .logo {
    font-size: x-large;
    font-weight: bold;
}

.navbar ul {
    display: flex;
}

.navbar a:hover {
    color: lightblue;
}

.navbar ul li {
    margin-left: 20px;
}

.header {
    background: #1F2937;
}

.header .container {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header h1 {
    color: #F9FAF8;
    font-size: 48px;
    font-weight: bold;
    line-height: 1.2;
}

.header img {
    max-width: 400px;
}

.text p {
    size: 18px;
    color: #E5E7EB;
}

.header button {
    background-color: #3882F6;
    font-size: 18px;
    font-weight: bold;
    color: #F9FAF8;
    padding: 8px 30px;
    margin-top: 9px;
    border-radius: 10px;
    text-align: center;
    border: 2px solid #1F2937;
}

.boxes h2 {
    font-size:36px;
    margin-bottom: 40px;
}

.boxes {
    height: 100%;
    text-align: center;
    min-height: 30vh;
    margin: 5vh 0px;
}

.container .box {
    width: 230px;
}

.box img {
    max-width: 100px;
}

.grid {
    height: 100%;
    display: flex;
    justify-content: space-evenly;
}

.box p {
    color:black;
}

.inspirational {
    color: #1F2937;
    min-height: 30vh;
    display: flex;
    flex-direction: column;
    background-color: #E5E7EB;
    align-items: center;
    justify-content: center;
    margin: 5vh 0px;
}

#one {
    font-size: 36px;
    font-weight: light;
    font-style: italic;
    text-align: center;
}

#two {
    font-size: 30px;
    font-weight: bold;
    text-align: right;
}

.call {
    margin: 10vh 0vh;
}

.call .container {
    display: flex;
    background: #3882F6;
    min-height: 15vh;
    align-items: center;
    color: #E5E7EB;
    border-radius: 10px;
}

.callaction {
    flex:5;
    text-align: left;
    margin: auto;
}

.call button {
    padding: 8px 5px;
    background-color: #3882F6;
    font-size: 18px;
    font-weight: bold;
    color: #F9FAF8;
    text-align: center;
    border-radius: 10px;
    border: 2px solid #E5E7EB;
    margin: 0px 100px;
    flex:1;
}

button:hover {
    background-color: lightblue;
  }

.footer {
    display: flex;
    text-align: center;
    align-items: center;
    color: #E5E7EB;
    background: #1F2937;
    height: 8vh;
}

@media (max-width: 768px) {
    .header,
    .grid,
    .container {
    flex-wrap: wrap;
    padding-top: 20px;
    text-align: center;
    align-items: center;
}
}



